
/* RESET DEFAULT BROWSER MARGIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

/* Full page center */
.login-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

/* Login box */
.login-box {
  background: #2a2a2a;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Title */
.login-box h1 {
  color: #ffffff;
  margin-bottom: 25px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #1e1e1e;
  color: #fff;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-box button:hover {
  background: #4338ca;
}
